In [2]:
import pandas as pd

In [3]:
filename = 'data/past_matches.csv'
df = pd.read_csv(filename)

In [4]:
df

,Unnamed: 0,home_score_home,home_score_away,home_half_score_home,home_half_score_away,home_away_equalizer_goal,home_away_matchwinner_goal,home_away_outofplayconceded_f24,home_away_savesbody_f24,home_away_savescaught_f24,...,home_result,away_result,date,match_id,home_team_name,away_team_name,competition_id,season_id,score_home,score_away
0,0,1.000000,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1395765000,699624,SC Paderborn 07,FC St. Pauli,87,2013,3,0
1,0,1.666667,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1399815000,699686,SC Paderborn 07,VfR Aalen,87,2013,2,1
2,0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1383876000,732427,Real Salt Lake,LA Galaxy,98,2013,2,0
3,0,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1383789600,732428,Sporting Kansas City,New England Revolution,98,2013,3,1
4,0,1.000000,2.000000,0.000000,0.000000,0.000000,1.000000,31.000000,0.000000,2.000000,...,True,False,1383883200,732430,Portland Timbers,Seattle Sounders FC,98,2013,3,2
5,0,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1383786000,732471,New York Red Bulls,Houston Dynamo,98,2013,1,2
6,0,2.000000,1.333333,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,True,1384025400,732703,Houston Dynamo,Sporting Kansas City,98,2013,0,0
7,0,1.666667,0.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1385253000,732704,Sporting Kansas City,Houston Dynamo,98,2013,2,1
8,0,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1384135200,732711,Real Salt Lake,Portland Timbers,98,2013,4,2
9,0,2.666667,2.000000,0.000000,0.000000,0.000000,0.333333,33.000000,0.333333,0.666667,...,False,True,1385344800,732712,Portland Timbers,Real Salt Lake,98,2013,0,1
10,0,1.750000,0.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,True,1386450000,733006,Sporting Kansas City,Real Salt Lake,98,2013,1,1
11,0,2.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1411606800,741635,FC Dallas,Seattle Sounders FC,98,2014,3,1
12,0,2.333333,2.666667,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1411848000,741642,Seattle Sounders FC,Chivas USA,98,2014,4,2
13,0,2.000000,1.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1414288800,741679,Vancouver Whitecaps FC,Colorado Rapids,98,2014,1,0
14,0,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1426370400,788521,Chicago Fire,Vancouver Whitecaps FC,98,2015,0,1
15,0,1.000000,2.000000,0.000000,0.000000,0.000000,0.000000,7.500000,0.250000,0.500000,...,False,True,1431291600,788530,Toronto FC,Houston Dynamo,98,2015,1,2
16,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,True,1426460400,791394,Portland Timbers,LA Galaxy,98,2015,2,2
17,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1426968000,791395,Philadelphia Union,FC Dallas,98,2015,0,2
18,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1427583600,791401,New York City FC,Sporting Kansas City,98,2015,0,1
19,0,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,27.000000,0.000000,1.000000,...,True,False,1427583600,791402,D.C. United,LA Galaxy,98,2015,1,0
20,0,0.500000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1427587200,791405,Vancouver Whitecaps FC,Portland Timbers,98,2015,2,1
21,0,1.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1427662800,791408,Chicago Fire,Philadelphia Union,98,2015,1,0
22,0,1.333333,1.000000,0.000000,0.000000,0.333333,0.000000,10.333333,0.000000,0.333333,...,True,False,1428201000,791411,Portland Timbers,FC Dallas,98,2015,3,1
23,0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1428188400,791415,Colorado Rapids,New England Revolution,98,2015,0,2
24,0,1.000000,0.333333,0.000000,0.000000,0.000000,0.000000,9.000000,0.000000,0.333333,...,True,False,1428174000,791416,Chicago Fire,Toronto FC,98,2015,3,2
25,0,1.500000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,False,True,1428706800,791420,FC Dallas,Colorado Rapids,98,2015,0,4
26,0,1.857143,1.142857,0.000000,0.000000,0.000000,0.000000,4.285714,0.000000,0.285714,...,True,False,1434238200,791429,New England Revolution,Chicago Fire,98,2015,2,0
27,0,0.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,True,1429225200,791430,New York City FC,Philadelphia Union,98,2015,1,1
28,0,1.666667,0.666667,0.000000,0.000000,0.333333,0.000000,10.333333,0.000000,0.333333,...,True,False,1429410600,791434,LA Galaxy,Sporting Kansas City,98,2015,2,1
29,0,2.000000,2.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,True,False,1429399800,791435,Columbus Crew SC,Orlando City SC,98,2015,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3282,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945554,Manchester United,Arsenal,15,2017,0,1
3283,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,False,1501344000,945555,Manchester United,Arsenal,15,2017,1,0
3284,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945556,Manchester United,Arsenal,15,2017,0,0
3285,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945557,Manchester United,Arsenal,15,2017,0,1
3286,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945558,Manchester United,Arsenal,15,2017,0,1
3287,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945559,Manchester United,Arsenal,15,2017,0,0
3288,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945560,Manchester United,Arsenal,15,2017,0,0
3289,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945561,Manchester United,Arsenal,15,2017,0,0
3290,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,False,1501344000,945562,Manchester United,Arsenal,15,2017,1,0
3291,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,False,1501344000,945563,Manchester United,Arsenal,15,2017,1,0
3292,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945564,Manchester United,Arsenal,15,2017,0,1
3293,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945565,Manchester United,Arsenal,15,2017,0,0
3294,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945566,Manchester United,Arsenal,15,2017,0,0
3295,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945567,Manchester United,Arsenal,15,2017,0,0
3296,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,False,1501344000,945568,Manchester United,Arsenal,15,2017,1,0
3297,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945569,Manchester United,Arsenal,15,2017,0,0
3298,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,True,1501344000,945570,Manchester United,Arsenal,15,2017,0,0
3299,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945571,Manchester United,Arsenal,15,2017,0,2
3300,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,False,True,1501344000,945572,Manchester United,Arsenal,15,2017,1,2
3301,0,1.333333,0.333333,1.000000,0.333333,0.000000,0.333333,24.666667,0.000000,0.666667,...,True,False,1501344000,945573,Manchester United,Arsenal,15,2017,1,0
3302,0,1.318182,1.818182,0.545455,1.000000,0.000000,0.227273,31.681818,0.000000,0.363636,...,True,True,1501860600,948845,LA Galaxy,Columbus Crew SC,15,2017,0,0
3303,0,0.200000,0.640000,0.160000,0.220000,0.000000,0.020000,6.440000,0.040000,0.080000,...,True,True,1502172000,949920,Arsenal,Tottenham Hotspur,15,2017,0,0
3304,0,1.500000,2.500000,0.500000,2.000000,0.000000,1.000000,24.000000,0.000000,0.500000,...,True,True,1502172000,949921,Chelsea,Manchester City,15,2017,0,0
3305,0,0.309524,0.333333,0.238095,0.285714,0.000000,0.023810,1.761905,0.000000,0.047619,...,True,True,1502172000,949922,Manchester United,Liverpool,15,2017,0,0
3306,0,1.833333,1.166667,1.166667,0.666667,0.000000,0.333333,20.833333,0.000000,0.666667,...,True,False,1505241900,952356,Barcelona,Juventus,5,2017,3,0
3307,0,1.000000,1.800000,0.200000,0.800000,0.000000,0.600000,27.200000,0.000000,0.200000,...,True,True,1505241900,952392,Roma,Atlético de Madrid,5,2017,0,0
3308,0,0.800000,2.300000,0.500000,1.200000,0.000000,0.200000,25.300000,0.100000,0.300000,...,True,False,1505241900,952399,FC Bayern München,RSC Anderlecht,5,2017,3,0
3309,0,0.600000,0.900000,0.000000,0.300000,0.000000,0.100000,17.700000,0.000000,0.100000,...,True,True,1505328300,952411,Liverpool,Sevilla,5,2017,2,2
3310,0,1.800000,1.800000,0.800000,0.800000,0.000000,0.200000,15.200000,0.000000,0.200000,...,True,False,1505328300,952435,Tottenham Hotspur,Borussia Dortmund,5,2017,3,1
3311,0,1.750000,1.750000,0.750000,0.750000,0.000000,0.250000,19.000000,0.000000,0.250000,...,True,True,1504089900,954450,Tottenham Hotspur,Milan,15,2017,2,2